<section class="filter-elem">
  <label for="priceRange" class="filter-elem__label"> Цена
  <mat-slider name="priceRange" [min]="filterService.minRangeValue" [max]="filterService.maxRangeValue" class="filter-elem__slider">
    <input [(ngModel)]="filterService.minPrice" [value]="filterService.minRangeValue" matSliderStartThumb>
    <input [(ngModel)]="filterService.maxPrice" [value]="filterService.maxRangeValue" matSliderEndThumb>
  </mat-slider>
  <div class="filter-elem__price-input-wrapper">
    <div class="filter-elem__input-wrapper"> от
      <input type="text" [(ngModel)]="filterService.minPrice">₽
    </div>

    <div class="filter-elem__input-wrapper"> до
      <input type="text" [(ngModel)]="filterService.maxPrice">₽
    </div>
  </div>
  <div>
        @for(item of filterService.categoryFilterValues; track ($index + item.category + item.name)) {
         <p>{{item.name}}</p>
         @for (characteristic of item.values; track ($index+characteristic)) {
          <label for=""><input type="checkbox" [value]="characteristic" (change)="handleClickCheckbox($event)" > {{characteristic}}</label>
         }
        }
  </div>
</label>
</section>
