<section class="filter-elem">
  <label for="priceRange" class="filter-elem__label"> Цена
  <mat-slider name="priceRange" [min]="filterService.minRangeValue" [max]="filterService.maxRangeValue" class="filter-elem__slider">
    <input [(ngModel)]="filterService.minPrice" [value]="filterService.minRangeValue" matSliderStartThumb>
    <input [(ngModel)]="filterService.maxPrice" [value]="filterService.maxRangeValue" matSliderEndThumb>
  </mat-slider>
  <div class="filter-elem__price-input-wrapper">
    <div class="filter-elem__input-wrapper"> от
      <input type="text" [(ngModel)]="filterService.minPrice">₽
    </div>

    <div class="filter-elem__input-wrapper"> до
      <input type="text" [(ngModel)]="filterService.maxPrice">₽
    </div>
  </div>
  <div class="filter-elem__checkboxes-wrapper">
    <cdk-accordion class="filter-elem-checkboxes-wrapper__accordion" multi>
      @for (item of filterService.categoryFilterValues; track (item.category + item.name); let index = $index) {
        <cdk-accordion-item
          #accordionItem="cdkAccordionItem"
          class="filter-elem-checkboxes-wrapper__item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index">
          <div class="filter-elem-checkboxes-wrapper__item-header" (click)="accordionItem.toggle()">
            {{ item.name }}

            <svg  class="filter-elem-checkboxes-wrapper__item-button" width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.99961 0.199951L8.99961 6.19995L14.9996 0.199951L17.3996 1.39995L8.99961 9.79995L0.599609 1.39995L2.99961 0.199951Z" fill="#0071E4"/>
              </svg>
            <!-- <span class="filter-elem-checkboxes-wrapper__item-button">
              >
            </span> -->
          </div>
          <div
            class="filter-elem-checkboxes-wrapper__item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index">
            @for (characteristic of item.values; track ($index+characteristic)) {
              <label for="" class="filter-elem-checkboxes-wrapper__item-body-label"><input type="checkbox" [value]="characteristic" (change)="handleClickCheckbox($event)" class="filter-elem-checkboxes-wrapper__item-body-checkbox"> {{characteristic}} {{item.unit === 'значение' ? '' : item.unit}}</label>
            }
          </div>
        </cdk-accordion-item>
      }            

    </cdk-accordion>

        <!-- @for(item of filterService.categoryFilterValues; track ($index + item.category + item.name)) {
         <p>{{item.name}}</p>
         @for (characteristic of item.values; track ($index+characteristic)) {
          <label for=""><input type="checkbox" [value]="characteristic" (change)="handleClickCheckbox($event)" > {{characteristic}}</label>
         }
        } -->
  </div>
</label>
</section>
