.dialog-inform-available {
  width: 720px;
  height: fit-content;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  
  background-color: white;
  border-radius: 16px;
  position: relative;
  padding-left: 206px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.dialog-inform-available__close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.dialog-inform-available__image {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 48px;
  left: 32px;
  object-fit: contain;
}

.dialog-inform-available__title {
  font-size: 16px;
  font-weight: 500;
  color: var(--07-color-gray);
}

.dialog-inform-available__product-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--01-color-black);
  padding-right: 24px;
  margin-bottom: 24px;
}

.dialog-inform-available__input-phone-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid #DBDBDB;
  border-radius: 8px;
  width: 249px;
  height: 56px;
}

.dialog-inform-available__phone-prefix {
  font-size: 24px;
  font-weight: 400;
  color: var(--05-color-gray);
  padding-left: 16px;
}

.dialog-inform-available__input-phone {
  font-size: 24px;
  font-weight: 400;
  color: var(--05-color-gray);
  padding-left: 6px;
  width: 180px;
  height: 100%;
  border: none;
  outline: none;
} 

.dialog-inform-available__button {
  width: 249px;
  height: 56px;
  background-color: var(--prime-color-blue);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .dialog-inform-available {
    width: 288px;
    min-height: 260px;
    padding: 16px;
  }

  .dialog-inform-available__close-button {
    top: 16px;
    right: 16px;
  }

  .dialog-inform-available__image {
    width: 54px;
    height: 54px;
    top: 51px;
    left: 16px;
  }

  .dialog-inform-available__title {
    margin-top: 8px;
  }
  
  .dialog-inform-available__product-title {
    margin-top: 12px;
    font-size: 18px;
    margin-left: 70px;
    padding-right: 16px;
  } 
}
