<section class="dialog-trade-in">
  <div class="dialog-trade-in__close-button" (click)="handleClose()">
    <app-close-icon></app-close-icon>
  </div>
  <h2 class="dialog-trade-in__header"> Обменяйте старое устройство по Trade-In</h2>
  <input type="text" placeholder="Какое устройство вы хотите обменять?" class="dialog-trade-in__input-text" name="" id="">
  <div class="dialog-trade-in__footer">
    <div class="dialog-trade-in__input-phone-wrapper">
      <div class="dialog-trade-in__phone-prefix">+7</div>
      <input type="text" placeholder="123 456 78 90" class="dialog-trade-in__input-phone" name="" id="">
    </div>
    
    <button class="dialog-trade-in__button">обменять устройство</button>
  </div>
</section>
