<app-banner-slider></app-banner-slider>
@if (getPopulars().length > 0) {
  <div class="product-list__wrapper">
  <app-product-list
    title="Самое популярное"
    [products]="getPopulars()"></app-product-list>
  </div>
}
<app-banner-text></app-banner-text>
<app-banner-promo></app-banner-promo>
@if ((getNewProducts().length > 0)) {
  <div class="product-list__wrapper">
  <app-product-list
    title="Новинки"
    [products]="getNewProducts()"></app-product-list>
  </div>
}

<app-banner-advantages></app-banner-advantages>
<app-banner-subscription></app-banner-subscription>
