@if(product) {
<section class="dialog-product-added">
  <div class="dialog-product-added__close-button" (click)="handleClose()">
    <app-close-icon></app-close-icon>
  </div>
  <div class="dialog-product-added__image" [style.backgroundImage]="'url(' + productService.getApiUrl() + '/' + product.images[0] + ')'"></div>
  <p class="dialog-product-added__header">Добавлен в корзину</p>
  <h2 class="dialog-product-added__product-name">{{product | productName}}</h2>
  <div class="dialog-product-added__buttons-wrapper">
    <button class="dialog-product-added__checkout-button" (click)="handleOrderCheckout()">оформить заказ</button>
    <button  class ="dialog-product-added__continue-shopping-button" (click)="handleContinueShopping()">продолжить покупки</button>
  </div>
  <div class="dialog-product-added__footer">
    <div>
      <svg class="dialog-product-added__footer-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="32" height="32" rx="16" fill="#C0E6FF"/>
        <path d="M10.5371 12.6875H12.5586C12.6465 11.3984 13.5156 10.5879 14.8633 10.5879C16.2012 10.5879 17.0703 11.3984 17.0703 12.502C17.0703 13.5078 16.6504 14.0742 15.4688 14.7871C14.1309 15.5879 13.5352 16.4668 13.584 17.8438L13.5938 18.625H15.6152V18.0293C15.6152 17.0234 15.9766 16.5059 17.2363 15.7637C18.5254 14.9922 19.2871 13.9277 19.2871 12.4141C19.2871 10.3242 17.5488 8.79102 14.9707 8.79102C12.1387 8.79102 10.625 10.4707 10.5371 12.6875ZM14.6191 23.1465C15.3516 23.1465 15.9082 22.5996 15.9082 21.8867C15.9082 21.1738 15.3516 20.627 14.6191 20.627C13.9062 20.627 13.3398 21.1738 13.3398 21.8867C13.3398 22.5996 13.9062 23.1465 14.6191 23.1465Z" fill="#0071E4"/>
        </svg>
        <h3 class="dialog-product-added__question">Нужна помощь с заказом?</h3>
    </div>
    <p class="dialog-product-added__text">Звоните, пишите, мы на связи</p>
    <div class="dialog-product-added__contacts">
      <p class="dialog-product-added__phone">+7 (499) 350-66-04</p>
      <app-social-media-block></app-social-media-block>
    </div>
  </div>
</section>
}

