<div class="basket-product-card">
  <div class="basket-product-card__close-button" (click)="handleCloseProduct()">
    <app-close-icon></app-close-icon>
  </div>
  <div class="basket-product-card__image" [style]="{ 'background-image': 'url('+productService.getApiUrl() + '/' + product.product.images[0] + ')' }"></div>
  <div class="basket-product-card__title">{{product.product | productName}}</div>
  <div class="basket-product-card__details">
    <div class="basket-product-card__prices">
      @if(product.product.discount_price) {
        <p class="basket-product-card__initial-price">{{product.product.price | number : '1.0-0' : 'ru-RU'}}₽</p>
        <p class="basket-product-card__final-price">{{product.product.discount_price | number : '1.0-0' : 'ru-RU'}}₽</p>
      } @else {
        <p class="basket-product-card__initial-price"></p>
        <p class="basket-product-card__final-price">{{product.product.price | number : '1.0-0' : 'ru-RU'}}₽</p>
      }
    </div>
    <div class="basket-product-card__counter">
      <div class="basket-product-card__counter-decrement" (click)="handleDecrement()">-</div>
      <div class="basket-product-card__counter-value">{{product.counter}}</div>
      <div class="basket-product-card__counter-increment" (click)="handleIncrement()">+</div>
    </div>
  </div>
</div>
