<main class="contacts-page">
  <h1 class="contacts-page__title">Контакты</h1>
  <section class="contacts-page__content">
    <div class="contacts-page__info">
      <h2 class="contacts-page__info-title">Можно позвонить</h2>
      <h3 class="contacts-page__info-phone">+7 (499) 350-66-04</h3>
      <p class="contacts-page__info-text">на связи с 10:00 до 20:00</p>

      <h2 class="contacts-page__info-title">Можем позвонить мы</h2>
      <p class="contacts-page__callback-link">заказать звонок</p>

      <h2 class="contacts-page__info-title">Можно написать</h2>
      <div class="contacts-page__social-links">
        <a href="" class="contacts-page__social-link"><img src="assets/icons/vk.svg" alt="VK icon"></a>
        <a href="" class="contacts-page__social-link"><img src="assets/icons/telegram.svg" alt="Telegram icon"></a>
        <a href="" class="contacts-page__social-link"><img src="assets/icons/whatsapp.svg" alt="Whatsapp icon"></a>
        <a href="mailto:info@applestore.com" class="contacts-page__social-link contacts-page__social-link_email">{{'info@applestore.com'}}</a>
      </div>
    </div>
    <div class="contacts-page__map-wrapper">
      <div class="contacts-page__oultets-list">
        <h2 class="contacts-page__info-title">Можно приехать</h2>
        <p class="contacts-page__address">г. Москва, Дубининская ул., 96</p>
        <p class="contacts-page__address">г. Москва, проспект Мира, 119, стр. 332.</p>
        <p class="contacts-page__address">г. Москва, Варшавское шоссе, 9к1</p>
        <p class="contacts-page__address">г. Санкт-Петербург, Лиговский проспект 10/118</p>
      </div>
      <div style="position:relative;overflow:hidden;" class="contacts-page__map">
          <a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a>
          <a href="https://yandex.ru/maps/213/moscow/?from=mapframe&ll=37.631633%2C55.713131&utm_medium=mapframe&utm_source=maps&z=16.01" style="color:#eee;font-size:12px;position:absolute;top:14px;">Москва — Яндекс Карты</a>
          <iframe src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=37.631633%2C55.713131&z=16.01" width="100%" height="100%" frameborder="0" allowfullscreen="true" style="position:relative;" class="contacts-page__map-content"></iframe>
      </div>
    </div>
  </section>
</main>
