.credit_conditions {
  display: flex;
  margin: auto;
  width: 1200px;
  justify-content: space-between;
}

.credit__conditions-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.credit__conditions-list-header {
  color: rgba(0, 113, 228, 1);
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 12px;
}

.credit__conditions-list-text {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  gap: 12px;
  align-items: center;
}

.credit__conditions-suggestion {
  display: flex;
  background-color: rgba(243, 248, 255, 1);
  width: 570px;
  height: 258px;
  padding: 32px;
  position: relative;
}

.credit__conditions-suggestion-buttoned {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 288px;
}

.credit__conditions-suggestion-buttoned > h2 {
  font-size: 32px;
  font-weight: 500;
}

.credit__conditions-suggestion-buttoned > p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
}

.credit__conditions-suggestion-buttoned > button {
  background-color: rgba(0, 113, 228, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 288px;
  height: 56px;
  border-radius: 8px;
  border: none;
}

.smartphone_pic {
  position: absolute;
  /* align-self: flex-end;
    width: 100%;
    max-width: 200px; */
  bottom: 0px;
  right: 10px;
}

@media (max-width: 1230px) {
  .credit_conditions {
    width: 900px;
  }

  .credit__conditions-list {
    gap: 7px;
  }

  .credit__conditions-list-header {
    color: rgba(0, 113, 228, 1);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 12px;
  }

  .credit__conditions-list-text {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    gap: 12px;
    align-items: center;
  }

  .credit__conditions-suggestion {
    display: flex;
    background-color: rgba(243, 248, 255, 1);
    width: 570px;
    height: 258px;
    padding: 32px;
    position: relative;
  }

  .credit__conditions-suggestion-buttoned {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 288px;
  }

  .credit__conditions-suggestion-buttoned > h2 {
    font-size: 26px;
    font-weight: 500;
  }

  .credit__conditions-suggestion-buttoned > p {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 8px;
  }

  .credit__conditions-suggestion-buttoned > button {
    background-color: rgba(0, 113, 228, 1);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    width: 200px;
    height: 56px;
    border-radius: 8px;
    border: none;
  }

  .smartphone_pic {
    position: absolute;
    bottom: 0px;
    /* right: px; */
    width: 200px;
    height: 150px;
  }
}


@media (max-width: 900px) {
    .credit_conditions {
      width: 768px;
    }
  
    .credit__conditions-list {
      gap: 7px;
    }
  
    .credit__conditions-list-header {
      color: rgba(0, 113, 228, 1);
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 12px;
    }
  
    .credit__conditions-list-text {
      display: flex;
      font-weight: 400;
      font-size: 20px;
      gap: 6px;
      align-items: center;
    }
  
    .credit__conditions-suggestion {
      display: flex;
      background-color: rgba(243, 248, 255, 1);
      width: 470px;
      height: 258px;
      padding: 32px;
      position: relative;
    }
  
    .credit__conditions-suggestion-buttoned {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 288px;
    }
  
    .credit__conditions-suggestion-buttoned > h2 {
      font-size: 20px;
      font-weight: 500;
    }
  
    .credit__conditions-suggestion-buttoned > p {
      font-weight: 400;
      font-size: 10px;
      margin-bottom: 8px;
    }
  
    .credit__conditions-suggestion-buttoned > button {
      background-color: rgba(0, 113, 228, 1);
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      width: 200px;
      height: 56px;
      border-radius: 8px;
      border: none;
    }
  
    .smartphone_pic {
      position: absolute;
      bottom: 0px;
      right: -15px;
    }
  }

/* 
  @media (max-width: 1230px) {
    .credit_conditions {
      width: 900px;
    }
  
    .credit__conditions-list {
      gap: 7px;
    }
  
    .credit__conditions-list-header {
      color: rgba(0, 113, 228, 1);
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 12px;
    }
  
    .credit__conditions-list-text {
      display: flex;
      font-weight: 400;
      font-size: 20px;
      gap: 12px;
      align-items: center;
    }
  
    .credit__conditions-suggestion {
      display: flex;
      background-color: rgba(243, 248, 255, 1);
      width: 570px;
      height: 258px;
      padding: 32px;
      position: relative;
    }
  
    .credit__conditions-suggestion-buttoned {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 288px;
    }
  
    .credit__conditions-suggestion-buttoned > h2 {
      font-size: 26px;
      font-weight: 500;
    }
  
    .credit__conditions-suggestion-buttoned > p {
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 8px;
    }
  
    .credit__conditions-suggestion-buttoned > button {
      background-color: rgba(0, 113, 228, 1);
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      width: 200px;
      height: 56px;
      border-radius: 8px;
      border: none;
    }
  
    .smartphone_pic {
      position: absolute;
      bottom: 0px;

      width: 200px;
      height: 150px;
    }
  }
   */
  
  @media (max-width: 768px) {
      .credit_conditions {
        width: 720px;
        flex-direction: column;
        align-items: center;
        gap: 93px;
      }
    
      .credit__conditions-list {
        gap: 7px;
      }
    
      .credit__conditions-list-header {
        color: rgba(0, 113, 228, 1);
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 12px;
      }
    
      .credit__conditions-list-text {
        display: flex;
        font-weight: 400;
        font-size: 20px;
        gap: 6px;
        align-items: center;
      }
    
      .credit__conditions-suggestion {
        display: flex;
        background-color: rgba(243, 248, 255, 1);
        width: 720px;
        height: 258px;
        padding: 32px;
        position: relative;
      }
    
      .credit__conditions-suggestion-buttoned {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 288px;
      }
    
      .credit__conditions-suggestion-buttoned > h2 {
        font-size: 32px;
        font-weight: 500;
      }
    
      .credit__conditions-suggestion-buttoned > p {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 8px;
      }
    
      .credit__conditions-suggestion-buttoned > button {
        background-color: rgba(0, 113, 228, 1);
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        width: 200px;
        height: 56px;
        border-radius: 8px;
        border: none;
      }
    
      .smartphone_pic {
        position: absolute;
        width: 300px;
        height: 183px;
        bottom: 0px;
        right: 100px;
      }
    }



    @media (max-width: 380px) {
        .credit_conditions {
          width: 280px;
          flex-direction: column;
          align-items: center;
          gap: 26px;
        }
      
        .credit__conditions-list {
          gap: 7px;
        }
      
        .credit__conditions-list-header {
          color: rgba(0, 113, 228, 1);
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 12px;
        }
      
        .credit__conditions-list-text {
          display: flex;
          font-weight: 400;
          font-size: 16px;
          gap: 6px;
          align-items: center;
        }
      
        .credit__conditions-list-text > img{

        }
        
        .credit__conditions-suggestion {
          display: flex;
          flex-direction: column;
          align-items: center;
          /* justify-content: center; */
          background-color: rgba(243, 248, 255, 1);
          width: 288px;
          height: 360px;
          padding: 24px 12px;
          gap: 8px;
          position: relative;
        }
      
        .credit__conditions-suggestion-buttoned {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 8px;
          width: 288px;
        }
      
        .credit__conditions-suggestion-buttoned > h2 {
          font-size: 20px;
          width: 227px;
          font-weight: 500;
          text-align: center;
        }
      
        .credit__conditions-suggestion-buttoned > p {
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 8px;
          width: 264px;
        }
      
        .credit__conditions-suggestion-buttoned > button {
          background-color: rgba(0, 113, 228, 1);
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          width: 200px;
          height: 56px;
          border-radius: 8px;
          border: none;
        }
      
        .smartphone_pic {
          position:absolute;
          width: 288px;
          height: 183px;
          right: 45px;
        }
      }   