<div class="credit_conditions">
    <div class="credit__conditions-list">
        <h2 class="credit__conditions-list-header">
            Условия для получения кредита
        </h2>
        <div class="credit__conditions-list-text"> <img src="../../../assets/icons/circlePin.svg" alt=""> <p>Возраст - от 18 до 69 лет</p></div>
        <div class="credit__conditions-list-text"> <img src="../../../assets/icons/circlePin.svg" alt=""> <p>Наличие постоянного источника дохода (работа, пенсия)</p></div>
        <div class="credit__conditions-list-text"> <img src="../../../assets/icons/circlePin.svg" alt=""> <p>Наличие паспорта гражданина РФ</p></div>
    </div>
    <div class="credit__conditions-suggestion">
        <div class="credit__conditions-suggestion-buttoned">
            <h2>Не откладывайте покупки на потом</h2>
            <p>Купить желаемую технику в кредит
                на самых выгодных условиях</p>
            <button>заполнить анкету</button>
        </div>

        <img class="smartphone_pic" src="../../../assets/images/banner-credit/smartphone.png" alt="">
    </div>
</div>