<section class="header-bottom">
<ul class="header-bottom__nav-list">
  <li class="header-bottom__item">
    <app-iphone></app-iphone>
    iPhone
  </li>
  <li class="header-bottom__item">
    <app-ipad></app-ipad>
    iPad
  </li>
  <li class="header-bottom__item">
    <app-laptop></app-laptop>
    Macbook и iMac
  </li>
  <li class="header-bottom__item">
    <app-iwatch></app-iwatch>
    Watch
  </li>
  <li class="header-bottom__item">
    <app-airpods></app-airpods>
    Гаджеты
  </li>
  <li class="header-bottom__item">
    <app-accessories></app-accessories>
    Аксессуары
  </li>
  <li class="header-bottom__item-button">
    <div class="header-bottom__button">
      <img src="/assets/images/header-bottom/iphone.png" alt="iPhone 14 Pro Max">
      iPhone 14 Pro Max
      <app-arrow-right></app-arrow-right>
    </div>
  </li>
</ul>
</section>
