<section class="header-bottom">
<ul class="header-bottom__nav-list">
  <li class="header-bottom__item" [routerLink]="['/products', 'category', '2']">
    <app-iphone></app-iphone>
    iPhone
  </li>
  <li class="header-bottom__item" [routerLink]="['/products', 'category', '4']">
    <app-ipad></app-ipad>
    iPad
  </li>
  <li class="header-bottom__item" [routerLink]="['/products', 'category', '3']">
    <app-laptop></app-laptop>
    Macbook и iMac
  </li>
  <li class="header-bottom__item" [routerLink]="['/products', 'category', '5']">
    <app-iwatch></app-iwatch>
    Watch
  </li>
  <li class="header-bottom__item" [routerLink]="['/products', 'category', '6']">
    <app-airpods></app-airpods>
    Гаджеты
  </li>
  <li class="header-bottom__item" [routerLink]="['/products', 'category', '1']">
    <app-accessories></app-accessories>
    Аксессуары
  </li>
  <li class="header-bottom__item-button" (click)="dialogService.openDialog('tradeIn')">
    <div class="header-bottom__button">
      <img src="/assets/images/header-bottom/iphone.png" alt="iPhone 14 Pro Max">
      Trade in
      <app-arrow-right></app-arrow-right>
    </div>
  </li>
</ul>
</section>
