h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #121212;
}

.product {
  max-width: 1248px;
  padding: 0 24px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  gap: 50px;
}

.wrapper-imgs-block {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.wrapper-imgs-block__img {
  width: 100px;
  border: 3px solid transparent;
  padding: 4px 0;
  border-radius: 16px;
  cursor: pointer;
}

.wrapper-imgs-block__img:hover {
  border: 3px solid #1876f275;
}

.wrapper-imgs-block__img.active {
  border: 3px solid #1876f2;
}

.wrapper-imgs__main {
  width: 400px;
  margin-bottom: 26px;
}

.wrapper-descr__title {
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  margin-bottom: 22px;
}

.mini-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.mini-wrap__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.mini-wrap__characteristics {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 250px;
}

.mini-wrap__memory,
.mini-wrap__characteristics {
  margin-bottom: 24px;
}

.mini-wrap__memory {
  display: flex;
  gap: 11px;
}

.mini-wrap__memory-item {
  padding: 16px;
  background-color: #12121205;
  border-radius: 8px;
  cursor: pointer;
  border: 3px solid transparent;
}

.mini-wrap__memory-item:hover {
  border: 3px solid #1876f275;
}

.mini-wrap__memory-item.active {
  background-color: #1877F2;
  color: #fff;
}

.characteristic-line {
  display: flex;
  justify-content: space-between;
}

.characteristic-line p {
  max-width: max-content;
}

.characteristic-line p:first-child {
  color: rgba(18, 18, 18, 0.7);
}

.buy {
  position: relative;
  border-radius: 16px;
  background-color: rgba(18, 18, 18, 0.02);
  padding: 24px;
}

.buy-discount {
  text-decoration: line-through;
  text-decoration-style: solid;
  font-size: 20px;
}

.buy-price {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.but-btn {
  background-color: var(--prime-color-blue);
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;

  color: #fff;
  font-size: 18px;
  font-weight: 700;

  width: 100%;
  padding: 12px 0;
  margin-bottom: 12px;
}

.buy-one-click {
  font-size: 18px;
  margin-bottom: 8px;
}

.buy-isAvailable {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.buy-isAvailable__indicator {
  width: 16px;
  height: 16px;
  border-radius: 16px;
}

.buy-isAvailable__indicator.available {
  background-color: #33BE02;
}

.buy-isAvailable__indicator.not-available {
  background-color: red;
}

.buy-form {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.buy-form__input-phone {
  padding: 16px 90px 16px 24px;
  width: 100%;
  border: 1px solid rgba(18, 18, 18, 0.3);
  border-radius: 8px;
  font-size: 16px;
}

.buy-form__input-phone::placeholder {
  font-size: 16px;
}

.buy-form__buy-btn {
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  background-color: var(--prime-color-blue);
  color: #fff;
  padding: 10px 8px;

  border: none;
  outline: none;
  border-radius: 8px;

  font-weight: 500;
  font-size: 16px;
}

.buy-credit {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.buy-credit__descr {
  color: var(--prime-color-blue);
}

.buy-credit-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buy-credit-wrap__item {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.buy-credit-wrap__item-img {
  width: 24px;
  height: 24px;
}

.buy-credit-wrap__item_title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}

.buy-credit-wrap__item_descr {
  font-size: 16px;
  color: var(--prime-color-blue);
}

.ear {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.ear-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 54px;
}

.ear-title img {
  width: 250px;
  margin-right: 30px;
}

.ear-title__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.ear-title__descr {
  font-size: 24px;
}

.ear-wrap-block {
  display: flex;
  gap: 96px;
}

.ear-wrap-block:nth-child(2n) {
  flex-direction: row-reverse;
}

.ear-wrap-right-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ear-wrap-right-block__title {
  font-size: 32px;
  margin-bottom: 8px;
}

.ear-wrap-right-block__descr {
  max-width: 420px;
}

@media screen and (max-width: 1280px) {
  .product {
    padding-top: 40px;
  }

  .wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .wrapper-imgs__main {
    display: block;
    margin: 0 auto;
  }

  .wrapper-descr__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
  }

  .ear {
    margin-bottom: 48px;
  }

  .ear-title__title {
    font-size: 20px;
  }

  .ear-wrap {
    max-width: 588px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .ear-wrap-block {
    flex-direction: column;
    gap: 24px;
  }

  .ear-wrap-block:nth-child(2n) {
    flex-direction: column;
  }

  .ear-wrap-block__img {
    width: 100%;
  }

  .your-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .your-product__img {
    width: 320px;
    margin-bottom: 24px;
  }

  .your-product__title {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .your-product__descr {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .your-product__link {
    background-color: var(--prime-color-blue);
    padding: 12px 16px;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    text-decoration: none;
    border-radius: 12px;
    width: 272px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {}