<section class="banner-advantages">
  <h2 class="banner-advantages__header">Наши преимущества</h2>
  <section class="banner-advantages-list">
    @for (advantage of advantages; track $index) {
      <div class="banner-advantages__item" [style]="{'background': 'linear-gradient(180deg, ' + advantage.topColor + ' 0.04%, ' + advantage.bottomColor + ' 65.84%)',}">
        <div class="banner-advantages__item-content">
          <img src="{{advantage.image}}" alt="">
          <h3 class="banner-advantages__title">
          {{advantage.title}}
          </h3>
          <p class="banner-advantages__text">
          {{advantage.text}}
          </p>
        </div>
        <button [routerLink]="advantage.link" class="banner-advantages__button">подробнее</button>
      </div>
    }
  </section>
</section>
