.banner-subscription {
  width: 100%;
  height: 480px;
  padding-left: calc(50vw - 600px);
  padding-right: calc(50vw - 600px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 86px;
  margin-top: 100px;
  background-color: var(--light_grey-color-gray);
}
.banner-subscription__details {
  width: 486px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner-subscription__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.28px;
  text-align: left;
  color: var(--01-color-black);
  margin-bottom: 8px;
}

.banner-subscription__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.64px;
  text-align: left;
  color: var(--07-color-gray);
  margin-bottom: 25px;
}

.banner-subscription__form{
  background: linear-gradient(90.34deg, #F7355D 0.3%, #9747FF 101.33%);
  width: 100%;
  height: 196px;
  border-radius: 16px;
  padding-left: 32px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 32px;
}

.banner-subscription__form-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 47.73px;
}
.banner-subscription__form-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.87px;
  text-align: left;
  
}

.banner-subscription__form-input-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 16px;
}
.banner-subscription__input {
  width: 246px;
  height: 56px;
  border-radius: 8px;
  border: none;
  padding-left: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.87px;
  color: var(--01-color-black);
}

.banner-subscription__button {
  width: 160px;
  height: 56px;
  border-radius: 8px;
  border: none;
  background: white;
  color: var(--01-color-black);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.87px;
  cursor: pointer;
  background-color: var(--light_grey-color-gray);
}

@media (max-width: 1280px) {
  .banner-subscription {
    padding-left: 32px;
    padding-right: 32px;
    gap: 32px;
    height: auto;
    padding-left: calc(50vw - 384px);
    padding-right: calc(50vw - 384px);
    background-color: transparent;
  }

  .banner-subscription__img {
    width: 225px;
    align-self: flex-start;
  }
  .banner-subscription__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.19px;
    text-align: left;
    width: 339px;
  }

  .banner-subscription__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
    text-align: left;
    width: 300px;
  }

  .banner-subscription__form-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 23.87px;
    text-align: left;
  }

  .banner-subscription__form-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.09px;
    text-align: left;
  }

  .banner-subscription__form {
    background: none;
    padding: 0;
    height: fit-content;
    gap: 16px;
  }

  .banner-subscription__form-info {
    background: linear-gradient(90.34deg, #F7355D 0.3%, #9747FF 101.33%);
    padding: 8px 32px 8px 16px;
    border-radius: 16px;
  }
  .banner-subscription__input {
  
    border: 1px solid #DBDBDB

  }
}


@media (max-width: 768px) {

  .banner-subscription {
    padding: 16px 24px;
  }
  .banner-subscription__img {
    display: none;
  }

  .banner-subscription__title {
    font-size: 24px;
    line-height: 26.64px;
    width: 228px;
  }

  .banner-subscription__form {
    width: 100%;
    gap: 8px;
  }

  .banner-subscription__form-input-area {
    width: 100%;
    flex-direction: column;
    gap: 8px;
  }

  .banner-subscription__form-info {
    width: 100%;
    border-radius: 8px;
  }

  .banner-subscription__input, .banner-subscription__button {
    width: 100%;
  }


}
