<section class="banner-subscription">
 
    <img src="assets/images/banner-subscription/img.png" alt="" class="banner-subscription__img">
  

  <div class="banner-subscription__details">
    <h2 class="banner-subscription__title">
      Подписка на рассылку акций!
    </h2>
    <p class="banner-subscription__text">
      Подпишитесь на рассылку, чтобы узнавать о всех акциях первым
    </p>

    <form class="banner-subscription__form">
      <div class="banner-subscription__form-info">
        <h3 class="banner-subscription__form-title">Скидка 10%</h3>
        <p class="banner-subscription__form-text">на первую покупку за подписку</p>
      </div>
      <div class="banner-subscription__form-input-area">
        <input type="phone" class="banner-subscription__input">
        <input type="submit" value="подписаться" class="banner-subscription__button">
      </div>
    </form>
  </div>
  

</section>
