<section class="delivery">
    <div class="delivery-advantages">
        @for (advantage of deliveryAdvantages; track advantage.id) {
        <div class="delivery-advantages__block">
            <img [src]="advantage.img" class="advantages-img img {{advantage.img_class}}">
            <h2 class="description-wrapper__title">{{advantage.title}}</h2>
            <p class="description-wrapper__descr">{{advantage.description}}</p>
        </div>
        }
    </div>
    <div class="pickup">
        <h2 class="pickup__title">Пункты самовывоза</h2>
        <div class="pickup-list">
            @for (item of pickupList; track item.id) {
            <div class="pickup-list__item pickup-item">
                <p class="pickup-item__street">{{item.street}}</p>
                <app-subway-point [from]="item.from_subway" [name]="item.name_subway"></app-subway-point>
                <p class="pickup-item__work-time">{{item.work_time}}</p>
            </div>
            }
        </div>
        <app-map class="pickup__map"></app-map>
    </div>
    <div class="convenience">
        <img class="convenience__img" src="assets/images/delivery-page/bycicle.png">
        <div class="convenience-description">
            <h2 class="convenience-description__title">
                Доставка, которая радует
            </h2>
            <ul class="convenience-description__list list">
                <li class="list__item">
                    согласуем с вами удобное время
                </li>
                <li class="list__item">
                    курьер позвонит за час до доставки
                </li>
                <li class="list__item">
                    любые ваши проверки техники перед оплатой
                </li>
            </ul>
        </div>
        <span class="convenience__actual">
            актуально в Москве
        </span>
    </div>
    <div class="payment">
        <h2 class="payment__title">Оплачивайте как удобно</h2>
        <div class="payment-wrapper">
            @for(item of paymentList; track item.id) {
                <div class="payment-wrapper__item payment-item">
                    <div class="payment-item-head">
                        <img [src]="item.img">
                        <h3 class="payment-item-head__title">{{item.title}}</h3>
                    </div>
                    <p class="payment-item__description">{{item.description}}</p>
                </div>
            }
        </div>
    </div>
    <div class="choose">
        <h2 class="choose__title">Выбирайте технику, а мы позаботимся о доставке</h2>
        <button routerLink="/catalog" class="choose__btn">пойти выбирать</button>
    </div>
</section>