.product-list__empty {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 400;
  color: var(--07-color-gray);
}
.product-list__cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.product-list__header {
  margin-bottom: 24px;
  color: var(--prime-color-blue);
  font-size: 24px;
  font-weight: 500;
}

.product-list__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.product-list__pagination-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-weight: 400;
  color: var(--07-color-gray);
  cursor: pointer;
  margin: 0 4px;
}

.product-list__pagination-button_active {
  color: var(--prime-color-blue);
}

.product-list__pagination-button svg {
  margin-top: 3px;
}
@media (max-width: 1280px) {
  .product-list {
    margin-top: 24px;
  }

  .product-list__cards {
    justify-content: center;
    gap: 40px;
  }
  
  .product-list__header {
    margin-bottom: 16px;
  }
  
}