
.product-list__cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.product-list__header {
  margin-bottom: 24px;
  color: var(--prime-color-blue);
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 1280px) {
  .product-list {
    margin-top: 24px;
  }

  .product-list__cards {
    justify-content: center;
  }
  
  .product-list__header {
    margin-bottom: 16px;
  }
  
}