<section class="bottom-bar">
  <div class="bottom-bar__item">
    <app-catalog-icon></app-catalog-icon>
    <p class="bottom-bar__item-title">каталог</p>
  </div>
  <div class="bottom-bar__item">
    <app-cart-icon></app-cart-icon>
    <p class="bottom-bar__item-title">корзина</p>
  </div>
  <div class="bottom-bar__item">
    <app-heart-icon></app-heart-icon>
    <p class="bottom-bar__item-title">каталог</p>
  </div>
  <div class="bottom-bar__item">
    <app-compare-icon></app-compare-icon>
    <p class="bottom-bar__item-title">каталог</p>
  </div>
</section>
