<section class="bottom-bar">
  <div class="bottom-bar__item bottom-bar__item_catalog">
    <app-catalog-icon></app-catalog-icon>
    <p class="bottom-bar__item-title">каталог</p>
  </div>
  <div class="bottom-bar__item bottom-bar__item_cart" (click)="dialogService.openDialog('basket')">
    <app-cart-icon></app-cart-icon>
    <p class="bottom-bar__item-title">корзина</p>
  </div>
  <div [class]=" favoritesStorage.productsInFavorites.length > 0 ? 'bottom-bar__item bottom-bar__item_favorite bottom-bar__item_favorite_active' : 'bottom-bar__item bottom-bar__item_favorite'" (click)="handleOpenFavorites()">
    <app-heart-icon></app-heart-icon>
    <p class="bottom-bar__item-title">избранное</p>
  </div>
  <div class="bottom-bar__item bottom-bar__item_compare">
    <app-compare-icon></app-compare-icon>
    <p class="bottom-bar__item-title">сравнение</p>
  </div>
</section>
