<div class="search_container">
    <input class={{classModded}} type="text" placeholder="Поиск по каталогу товаров" [(ngModel)]="productService.searchQuery" (focus)="showList = true" (blur)="hideListOnBlur()">
    @if(showList){
    <div class="test_list">
@for(product of productService.computedProducts(); track product.id){ 
    <div  class="list_card">
        <div class="card_content">
            <img class="card_image" [src]="productService.getApiUrl() + '/' +product.images[0]" alt="">
            <div class="name_tag">
                <p class="product_name" class="credit_info__small-block_header">{{ product.name }}</p>
                <p class="product_price">{{product.price | number : '1.0-0' : 'ru-RU'}} ₽</p>
            </div>
        </div>
        <p class="link_accented" (click)="goToProductCard(product.id)">Подробнее</p>
    </div>}
    </div>}
</div> 