.pickup-item__subway {
  background-color: var(--light_grey-color-gray);
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  padding: 2px 16px;
  width: max-content;
}

.pickup-item__subway.from {
  color: var(--09-color-black);
  padding: 0;
}

.pickup-item__subway.name {
  color: var(--07-color-gray);
  padding: 0;
}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 768px) {
  .pickup-item__subway {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .pickup-item__subway.from,
  .pickup-item__subway.name {
    font-size: 12px;
    margin: 0;
  }
}