.test_list{
    display: flex;
    width: 1200px;
    flex-flow: row wrap;
    gap: 10px;
    margin: 10px auto;
}
.list_card{
    display: flex;
    width: 250px;
    height: 300px;
    flex-direction: column;
}

.card_image{
    width: 200px;
    height: 200px;
}


.test_list {
    position: relative;
  }
  
  .dropdown {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .dropdown-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  
  .list_card {
    margin-top: 10px;
  }