<div class="test_list">
    <input type="text" placeholder="Filter by name" [(ngModel)]="productService.searchQuery">
    <input type="range" min="" 
    max={{productService.maxPrice}}
    step="100"
    [(ngModel)]="productService.priceVal">
    <div>{{productService.priceVal}}</div>
    <div>{{productService.maxPrice}}</div>
    <select [(ngModel)]="selectedCategoryId" (change)="onCategoryChange()" name="" id="">

      <option value="">бе</option>
      @for (category of productService.categories; track $index) {
        <option [value]='category.id'>{{category.name}}</option>
      }
    </select>

    <div class="test_list">
    <!-- @if(productService.searchQuery !== ''){ -->
    @for(product of productService.computedProducts(); track product.id){ 
    <div (click)="goToProductCard(product.id)" class="list_card">
        <h2 class="credit_info__small-block_header">{{ product.name }}</h2>
        <p>{{product.id}}</p>
        <img class="card_image" [src]="baseUrl+product.images[0]" alt="">
    </div>}
    <!-- } -->
    </div>
</div>
