<section class="banner-product-list">

  <div class="banner-product-list__original">
    <img class ="banner-product-list__image" src="assets/images/banner-product-list/apple.png" alt="Apple logo">
    <p class="banner-product-list__original-text">Только оригинальная продукция Apple
      с гарантией и бесплатной доставкой</p>
  </div>

  <div class="banner-product-list__schedule">
    <img class ="banner-product-list__image" src="assets/images/banner-product-list/question.png" alt="Question image">
    <div>
    <p>Мы работаем с 10:00 до 22:00</p>
    <p class="banner-product-list__schedule-text">В это время доступна доставка, самовывоз и клиентский отдел. Создать заказ на сайте можно в любое время</p>
    </div>
  </div>
</section>
