<main class="dialog-basket">
  <div class="dialog-basket__close-button" (click)="dialogRef.close()">
    <app-close-icon></app-close-icon>
  </div>
  @if(cartStorageService.itemsCount == 0) {
  <div class="dialog-basket__empty">
    <img [src]="emptyImage" alt="Opened box image">
    <h2 class="dialog-basket__title">В корзине пока ничего нет</h2>
    <p class="dialog-basket__empty-text">Но вы можете легко это исправить</p>
    <button class="dialog-basket__empty-button" (click)="handleStartShopping()">начать покупки</button>
    <h3>Кстати, вы это смотрели</h3>
  </div>
  
  } @else {

    <h2 class="dialog-basket__title">Оформление заказа</h2>
    <section class="dialog-basket__content">
      <div class="dialog-basket__product-list">
        @for(product of cartStorageService.productsInCartList; track $index) {
          <app-basket-product-card [product]="product"></app-basket-product-card>
        }
      </div>
      <div class="dialog-basket__divider"></div>
      <div class="dialog-basket__order-details">
        {{cartStorageService.orderTotalSum | number : '1.0-0' : 'ru-RU'}}₽
      </div>

    </section>
  
  }
</main>

