<section class="receiving">
  <div class="container">
    <h2 class="receiving__title">Способы получения</h2>
    <div class="receiving-wrapper">
      <div class="receiving-wrapper-block">
        <h3 class="receiving-wrapper-block__title">
          Курьером в Москве
        </h3>
        <p class="receiving-wrapper-block__descr">
          <span>сегодня до 20:34</span>
          или в другой удобный вам день
          бесплатно в пределах МКАД при заказе от 30000₽ или 300₽ если сумма заказа меньше
        </p>
      </div>
      <div class="receiving-wrapper-block">
        <h3 class="receiving-wrapper-block__title">
          Самовывоз
        </h3>
        <div class="receiving-wrapper-block__from">
          <h4>ул Барклая 8</h4>
          <p class="receiving-wrapper-block__from_descr">
            <span>сегодня до 22:00</span>
            или в другой удобный вам день
          </p>
          <app-subway-point from="5 минут" name="Багратионовская"></app-subway-point>
        </div>
      </div>
      <div class="receiving-wrapper-block">
        <h3 class="receiving-wrapper-block__title">
          Доставка по России
        </h3>
        <p class="receiving-wrapper-block__descr">
          От 3 до 5 дней в зависимости от вашего города.
          Доставляем через СДЭК или Почту России.
          Точная стоимость доставки будет известна при оформлении заказа
        </p>
      </div>
    </div>
  </div>
</section>