/* You can add global styles to this file, and also import other style files */
:root {
  /*  --[имя в Figma eсли есть]-color-[базовое имя цвета] */
  --01-color-black: #100E0E;
  --03-color-gray: #B7B7B7;
  --05-color-gray: #878787;
  --06-color-gray: #706E6E;
  --07-color-gray: #585656;
  --09-color-black: #282626;
  --light_grey-color-gray: #F9F9F9;
  --prime-color-blue: #0071E4;
  --button-color-green: #52D116;
  --counter-color-green: #46C609;
  --color-light_blue: #B6F2FF;
  --icon-color-light_gray: #CCCCCC;
  --rating-color-orange: #FFAD31;

}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
      url('assets/fonts/SFProDisplay-BlackItalic.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
      url('assets/fonts/SFProDisplay-Black.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
      url('assets/fonts/SFProDisplay-Bold.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
      url('assets/fonts/SFProDisplay-Heavy.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
      url('assets/fonts/SFProDisplay-BoldItalic.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
      url('assets/fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
      url('assets/fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
      url('assets/fonts/SFProDisplay-Semibold.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
      url('assets/fonts/SFProDisplay-Light.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
      url('assets/fonts/SFProDisplay-ThinItalic.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
      url('assets/fonts/SFProDisplay-MediumItalic.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
      url('assets/fonts/SFProDisplay-RegularItalic.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
      url('assets/fonts/SFProDisplay-Medium.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
      url('assets/fonts/SFProDisplay-Thin.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
      url('assets/fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-UltralightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
      url('assets/fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-Ultralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
      url('assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
      url('assets/fonts/SFProDisplay-LightItalic.woff2') format('woff2'),
      url('assets/fonts/SFProDisplay-LightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
}

.header-bottom__item path {
  stroke: var(--icon-color-light_gray) !important;
}

.header-bottom__item:hover path{
  stroke: var(--prime-color-blue) !important;
}

.header-middle__cart-button svg {
  width: 18px;
  height: 20px;
  margin-top: 5px;
  margin-right: 2px;
}

.bottom-bar__item_catalog svg {
  width: 26px;
  height: 22px;
  margin-top: 2px;
}
.bottom-bar__item_catalog path {
  stroke: var(--button-color-green) !important;
  fill: var(--button-color-green) !important
}

.bottom-bar__item_cart svg {
  width: 24px;
  height: 27px;
  margin-top: 2px;
}

.bottom-bar__item_cart path {
  fill: var(--06-color-gray) !important
}

.bottom-bar__item_favorite svg {
  width: 32px;
  height: 27px;
  margin-top: 3px;
}

.bottom-bar__item_compare svg {
  width: 32px;
  height: 29px;
  margin-top: 3px;
}




@media (max-width: 768px) {
  .bottom-bar__item_catalog svg {
    width: 19px;
    height: 17px;
    margin-top: 0;
  }

  .bottom-bar__item_cart svg {
    width: 18px;
    height: 20px;
    margin-top: 0;
  }

  .bottom-bar__item_favorite svg {
    width: 20px;
    height: 17px;
    margin-top: 0;
  }

  .bottom-bar__item_compare svg {
    width: 21px;
    height: 19px;
    margin-top: 0;
  }
}