/* You can add global styles to this file, and also import other style files */
:root {
  --blue-color: #0071E4;
  --blue-light-color: #B6F2FF;
  --button-green-color: #52D116;
  --counter-color-green: #46C609;
  --nav-items-black: #100E0E;
  --text-color-gray: #585656;
  --color-light-gray: #F9F9F9;
  --color-middle-gray: #B7B7B7;
  --tab-breakpoint: 1280px;
  --mob-breakpoint: 768px;
  --icon-light-gray: #CCCCCC;
  --icon-hover: #0071E4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.header-bottom__item path {
  stroke: var(--icon-light-gray) !important;
}

.header-bottom__item:hover path{
  stroke: var(--icon-hover) !important;
}

