<header class="header-main">
  <section class="header-top">
    
    @if(DevType.devType === 'desktop') {
      <a routerLink="/">
        <div class="header-logo">
          <app-main-logo></app-main-logo>
        </div>
      </a>
      <app-hamburger-menu [navItems]="topNavItems"></app-hamburger-menu>
    <div class="header-phone">
      <app-phone-icon></app-phone-icon>
      <a href="tel:+7 999 999-99-99" class="header-phone__link">+7 999 999 99 99</a>  
      <p class="header-phone__text" (click)="dialogService.openDialog('callback')">Вам перезвонить?</p>
    </div>

    } @else if(DevType.devType === 'tablet') {
      <div class="header__left-field-tab">
        <a routerLink="/">
          <div class="header-logo">
            <app-main-logo></app-main-logo>
          </div>
        </a>
        <!-- <input type="text" placeholder="Поиск по каталогу товаров" class="header__search-input header__search-input_tab"> -->
        <app-catalog-search-bar classModded="header__search-input header__search-input_tab"></app-catalog-search-bar>
      </div>
      <div class="header__right-field-tab">
        <div class="header-phone">
          <app-phone-icon></app-phone-icon>
            <a href="tel:+7 999 999-99-99" class="header-phone__link">+7 999 999 99 99</a>
        </div>
        <div>
          <app-hamburger-menu [navItems]="topNavItems"></app-hamburger-menu>
        </div>
      </div>

    } @else {
      
      <a routerLink="/">
        <div class="header-logo">
          <app-main-logo></app-main-logo>
        </div>
      </a>
      <!-- <input type="text" class="header__search-input header__search-input_mob"> -->
      <app-catalog-search-bar  classModded="header__search-input header__search-input_mob"></app-catalog-search-bar>
      <div class="header-phone">
        <app-phone-icon></app-phone-icon>
      </div>
      <div>
        <app-hamburger-menu [navItems]="topNavItems"></app-hamburger-menu>
      </div>
    }
  </section>

  @if(DevType.devType === 'desktop') {
    <section class="header-middle">
      <app-catalog-popup (closePopup)="showPopup = false"></app-catalog-popup>
      <!-- <input type="text" placeholder="Поиск по каталогу товаров" class="header__search-input"> -->
      <app-catalog-search-bar  classModded="header__search-input"></app-catalog-search-bar>
      <div [class]="favoritesStorage.productsInFavorites.length > 0 ? 'header-middle__favorites-button header-middle__favorites-button_active' : ' header-middle__favorites-button'" (click)="handleOpenFavorites()">
        <app-heart-icon></app-heart-icon>
      </div>
      <!-- <div (click)="dialogService.openDialog('credit')">
        <app-compare-icon></app-compare-icon>
      </div> -->
      <button class="header-middle__cart-button" (click)="dialogService.openDialog('basket')">
        <app-cart-icon></app-cart-icon>
        в корзине
        <div class="header-middle__cart-button__counter">{{cartStorageService.itemsCount}}</div>
      </button>
    </section>

   <app-header-bottom></app-header-bottom>
  }
</header>
@if(DevType.devType !== 'desktop') { 
<app-bottom-bar></app-bottom-bar> 
}