
<header class="header-main">

  <section class="header-top">
    <a routerLink="/">
      <div class="header-logo">
        <app-main-logo></app-main-logo>
      </div>
   
    </a>
    @if(DevType.getDevType() === 'desktop') {
      <nav>
        <ul class="header-nav__list">
          @for(item of topNavItems; track $index) {
            <li class="header-nav__item">
              <a [routerLink]="item.link" class="header-nav__link">   
                <div [class]="(item.before) ? 'header-nav__title header-nav__title_accented' : 'header-nav__title'" [routerLinkActive]="(item.before) ? '' : 'active'">
                  @if (item.before) {
                    <img src="{{item.before}}" alt="Action icon"/>
                  }
                  {{item.title}}
                </div>
              </a>
            </li>
          }
        </ul>
    </nav>
    } @else if(DevType.getDevType() === 'tablet') {
      <input type="text" placeholder="Поиск по каталогу товаров" class="header__search-input header__search-input_tab">
    } @else {
      <input type="text" class="header__search-input header__search-input_mob">
    }
    <div class="header-phone">
      <app-phone-icon></app-phone-icon>
      @if (DevType.getDevType() !== 'mobile') {
        <a href="tel:+7 999 999-99-99" class="header-phone__link">+7 999 999 99 99</a>  
      }
      
      @if (DevType.getDevType() === 'desktop') {
        <p class="header-phone__text">Вам перезвонить?</p>
      }
    </div>
    @if (DevType.getDevType() !== 'desktop') {
      <div>
        <app-hamburger-memu></app-hamburger-memu>
      </div>
    }
  </section>

  @if(DevType.getDevType() === 'desktop') {
    <section class="header-middle">
      <button class="header-middle__button" routerLink="/catalog"> <app-tripple-point></app-tripple-point>Каталог товаров</button>
      <input type="text" placeholder="Поиск по каталогу товаров" class="header__search-input">
      <app-heart-icon></app-heart-icon>
      <app-compare-icon></app-compare-icon>
      <button class="header-middle__cart-button" routerLink="/cart">
        <app-cart-icon></app-cart-icon>
        в корзине
        <div class="header-middle__cart-button__counter">1</div>
      </button>
    </section>

   <app-header-bottom></app-header-bottom>
  }
</header>
<app-bottom-bar></app-bottom-bar>