.banner_credit{
    width: 100%;
}
.banner_credit-block{
    margin: 0 auto 56px;
    width: 1200px;
}

.banner_credit-block_mid{
    display: none;   
}


.banner_credit{
    width: 100%;
}
.banner_credit-block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 56px;
    width: 1200px;
    height: 189px;
    border-radius: 16px;
    background:linear-gradient(269.84deg, #0071E4 0.08%, #7EBEFF 99.92%);
}

.banner_credit-text> h1, p {
    color: white;
}


.banner_credit-text{
    position: absolute;
    left: 40%;
}



.girl_sits{
    position: absolute;
    left: 15%;
    bottom: 0px;
}



@media (max-width: 1230px) {
    .banner_credit-block{
        margin: 0 auto 56px;
        width: 900px;
    }
    .banner_credit-text{
        position: absolute;
        left: 50%;
    }
    .girl_sits{
        position: absolute;
        left: 15%;
        bottom: 0px;
    }
    
    
}