<div class="banner_credit">
    <div class="banner_credit-block">
        <img class="girl_sits" src="assets/images/banner-credit/young woman.png" alt="">
        <!-- <img class="girl_sits" src="assets/images/banner-credit/banner-credit.png" alt=""> -->
        <div class="banner_credit-text">
            <h1 class="banner_credit-haeder">От 10 000 до 600 000₽</h1>
            <p>в кредит, за 30 минут без похода в банк</p>
        </div>   
    </div> 
    <!-- <div class="banner_credit-block_mid"> -->
        <!-- <img src="assets/images/banner-credit/banner-mid.png" alt=""> -->
    <!-- </div> -->
</div>