<div class="steps_container">
    <h2 class="steps_header">Получите кредит в 4 шага</h2>

    <div class="steps_blocks">
        <div class="steps_block">
            <div class="steps_block-step_number"><p>1</p></div>
            <p class="steps_block-step_text" >Выберите товар и оформите заказ с оплатой в кредит</p>
        </div>
        <div class="steps_block">
            <div class="steps_block-step_number"><p>2</p></div>
            <p class="steps_block-step_text" >Согласуйте условия кредитования с нашим менеджером</p>
        </div>
        <div class="steps_block">
            <div class="steps_block-step_number"><p>3</p></div>
            <p class="steps_block-step_text" >Получите решение от банков
                и выберите лучшие условия</p>
        </div>
        <div class="steps_block">
            <div class="steps_block-step_number"><p>4</p></div>
            <p class="steps_block-step_text" >Ожидайте доставку вашего заказа (или самовывоз)</p>
        </div>
        <div class="line"></div>
    </div>
</div>