

<div class="callback_dialog">
    <h2 class="callback_dialog__header">Закажите обратный звонок</h2>
    <form class="callback_form" [formGroup]="callback_form">
        <p class="callback_dialog__paragraph">Менеджер позвонит вам через 3 минуты</p>
        <input (keydown)="rejectNonNumeric($event)" placeholder="+7" class="callback_dialog__input" type="tel" formControlName="number">
        <div *ngIf="number?.hasError('required') && number?.touched" class="error">
            {{ getErrorMessage() }}
        </div>
        <div *ngIf="number?.hasError('pattern') && number?.touched" class="error">
            {{ getErrorMessage() }}
        </div>
    <button class="callback_dialog__accept-button" (click)="dialogRef.close()" [disabled]="callback_form.invalid">заказать звонок</button>
    </form>
    <button class="callback_dialog__close-button" (click)="dialogRef.close()"></button>
</div>
