h3 {
  color: var(--01-color-black);
}

p {
  color: var(--07-color-gray);
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
}

.questions {
  background-color: var(--light_grey-color-gray);
  padding: 24px 0;
}

.questions-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.questions-wrap-item {
  background-color: #FFF;
  border-radius: 16px;
  padding: 16px;
}

.questions-wrap-item__title {
  margin-bottom: 8px;
  font-weight: 500;
}

@media screen and (max-width: 1280px) {
  .questions-wrap {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}

@media screen and (max-width: 768px) {}