<section class="dialog-cheaper-form">
  <div class="dialog-cheaper-form__close-button" (click)="handleClose()">
    <app-close-icon></app-close-icon>
  </div>
  <h2 class="dialog-cheaper-form__header"> Нашли дешевле?</h2>
  <p class="dialog-cheaper-form__text">Пришлите ссылку на этот товар в другом магазине и мы сделаем вам скидку</p>
  <input type="text" placeholder="ссылка на этот товар в другом магазине" class="dialog-cheaper-form__input-text" name="" id="">
  <div class="dialog-cheaper-form__footer">
    <input type="text" placeholder="цена в другом магазине" class="dialog-cheaper-form__input-price" name="" id="">
    <div class="dialog-cheaper-form__input-phone-wrapper">
      <div class="dialog-cheaper-form__phone-prefix">+7</div>
      <input type="text" placeholder="123 456 78 90" class="dialog-cheaper-form__input-phone" name="" id="">
    </div>
  </div>
  <button class="dialog-cheaper-form__button">получить скидку</button>
</section>

