<section class="banner-slider" [style]="{backgroundColor: products[currentIndex].backgroundColor}">
  <div class="banner-slider__prev-slide" (click)="prevSlide()">
    <svg width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg" fill="none">
      <g opacity="0.5">
        <path d="M16 4L6 14L16 24L14 28L0 14L14 0L16 4Z" fill="#100E0E" />
      </g>
    </svg>
  </div>
  <div class="banner-slider__slide">
    <div class="banner-slider__slide-img-wrapper">
      <img [src]="products[currentIndex].image" alt="banner-slider" class="banner-slider__slide-img">
    </div>
    <div class="banner-slider__slide-info">
      <h2 class="banner-slider__slide-title">{{products[currentIndex].title}}</h2>
      <p class="banner-slider__slide-price"> <span>от</span> {{products[currentIndex].price | number : '1.0-0' :
        'ru-RU'}} ₽</p>
      <a>
        <button class="banner-slider__slide-button" (click)="handleClick(products[currentIndex].chip, products[currentIndex].link)">подробнее</button>
      </a>
    </div>
  </div>
  <div class="banner-slider__next-slide" (click)="nextSlide()">
    <svg width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g opacity="0.5">
        <path d="M0 24L10 14L0 4L2 0L16 14L2 28L0 24Z" fill="#100E0E" />
      </g>
    </svg>
  </div>
</section>